absl-py==1.0.0
astor==0.8.1
blis==0.7.5
cached-property==1.5.2
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cymem==2.0.6
en-core-web-lg @ file:///home/zhengxw/en_core_web_lg-3.2.0.tar.gz
en-core-web-trf @ file:///home/zhengxw/en_core_web_trf-3.2.0.tar.gz
filelock==3.4.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.10.0
Jinja2==3.0.3
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.0.1
murmurhash==1.0.6
numpy==1.19.5
opt-einsum==3.3.0
packaging==21.3
pathy==0.6.1
preshed==3.0.6
protobuf==3.19.1
pydantic==1.8.2
pyparsing==3.0.6
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.47
six==1.16.0
smart-open==5.2.1
spacy==3.2.1
spacy-alignments==0.8.4
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-transformers==1.1.3
srsly==2.4.2
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
thinc==8.0.13
tokenizers==0.10.3
torch==1.10.1
tqdm==4.62.3
transformers==4.12.5
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.9.0
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
